.post {
  background-color: white;
  max-width: 400px; /*make our picture post fixed*/
  border: 1px solid lightgray;
  margin-bottom: 45px; /*space between posts*/
}

.post__image {
  width: 100%; /*styling the image of my post in order to stay at 100% of my screen*/
  object-fit: contain; /*keep the aspect ratio*/
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  padding: 10px;
}

.post__header {
  display: flex; /*the flex by default gonna put the avatar and username in a row*/
  align-items: center; /*gonna align my avatar and username*/
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
}

.post__comments {
  padding: 10px; /*Space for the comments with the username*/
}

.post__input {
  flex: 1; /* when we have two childrens in a container, what we can do for the flex, we can say one gonna take more space than the other like this with the input and the button with each one a value 1 for maximu priority and 0 for the minimum space*/
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button {
  flex: 0;
  border: none;
  color: red;
  background-color: transparent;
  border-top: 1px solid lightgray;
}
